# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [2]:
import numpy as np

2. Create a null vector of size 10

In [134]:
Z = np.zeros(10)
print(Z)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

3. Create a vector with values ranging from 10 to 49

In [15]:
v = np.arange(10,49)
print(v)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48]

4. Find the shape of previous array in question 3

In [19]:
v = np.arange(10,49)
print('shape of array :', v.shape)

shape of array : (39,)

5. Print the type of the previous array in question 3

In [201]:
v= np.arange(10,49)
print('Type of Array:',type(v))
print('Data Type of Array:',v.dtype)

Type of Array: <class 'numpy.ndarray'>
Data Type of Array: int32

6. Print the numpy version and the configuration

In [138]:
import numpy as np
print("Version:",np.__version__)
print("Configuration:",np.show_config())

Version: 1.19.0
blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
blas_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_info']
    libraries = ['openblas_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_mkl_info:
  NOT AVAILABLE
openblas_lapack_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
lapack_opt_info:
    library_dirs = ['D:\\a\\1\\s\\numpy\\build\\openblas_lapack_info']
    libraries = ['openblas_lapack_info']
    language = f77
    define_macros = [('HAVE_CBLAS', None)]
Configuration: None

7. Print the dimension of the array in question 3

In [139]:
v = np.arange(10,49)
print('dimension of the array:',v.ndim)

dimension of the array: 1

8. Create a boolean array with all the True values

In [140]:
bool_arr = np.ones(10, dtype=bool)
print('Numpy Array With True Values: ')
print(bool_arr)

Numpy Array With True Values:
[ True  True  True  True  True  True  True  True  True  True]

9. Create a two dimensional array

In [126]:
import numpy as np
OneD_arr=np.arange(2,10).reshape(2,4)
print('1DArray:\n',OneD_arr)

1DArray:
 [[2 3 4 5]
 [6 7 8 9]]

10. Create a three dimensional array

In [131]:
import numpy as np
ThreeD_arr=np.arange(24).reshape(4,3,2)
print('3DArray:\n',ThreeD_arr)

3DArray:
 [[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]

 [[12 13]
  [14 15]
  [16 17]]

 [[18 19]
  [20 21]
  [22 23]]]

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [15]:
import numpy as np
 
#The original NumPy array
new_arr=np.array(['A','s','k','P','y','t','h','o','n'])
print("Original Array is :",new_arr)
 
#reversing using flip() Method
res_arr=np.flip(new_arr)
print("Resultant Reversed Array:",res_arr)

Original Array is : ['A' 's' 'k' 'P' 'y' 't' 'h' 'o' 'n']
Resultant Reversed Array: ['n' 'o' 'h' 't' 'y' 'P' 'k' 's' 'A']

12. Create a null vector of size 10 but the fifth value which is 1

In [2]:
import numpy as np
x = np.zeros(10)
print(x)
print("Update fifth value to 1")
x[4] = 1
print(x)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Update fifth value to 1
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

13. Create a 3x3 identity matrix

In [4]:
import numpy as np
array_2D=np.identity(3)
print('3x3 matrix:')
print(array_2D)

3x3 matrix:
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [3]:
arr = np.array([1, 2, 3, 4, 5])
print(arr.astype(float))

[1. 2. 3. 4. 5.]

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [144]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])
arr3=arr1 * arr2
# arr3=np.multiply(arr1,arr2)
print('Multiplication of Two Arrays:',arr3)

Multiplication of Two Arrays: [[ 0.  8.  3.]
 [28. 10. 72.]]

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [152]:
arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])
new_arr=arr1==arr2
print(new_arr)

[[False False False]
 [False False False]]

17. Extract all odd numbers from arr with values(0-9)

In [153]:
import numpy as np
array = np.arange(10) 
result = []
for i in array:
 if i % 2 != 0:
    result.append(i)
print('Odd Values:',np.array(result))

Odd Values: [1 3 5 7 9]

18. Replace all odd numbers to -1 from previous array

In [154]:
import numpy as np
array = np.arange(10) 
result = []
for i in array:
 if i % 2 != 0:
    result.append(i)
print("Orignal Array:")    
print(np.array(result))
odd_values = (array%2 != 0)
array[odd_values] = -1 
print(array[odd_values])

Orignal Array:
[1 3 5 7 9]
[-1 -1 -1 -1 -1]

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [32]:
import numpy as np
to_modify = np.arange(10)
print("Orignal Array")
print(to_modify)
indexes = [5,6,7,8]
replacements = [12,12,12,12]
for (index, replacement) in zip(indexes, replacements):
    to_modify[index] = replacement
print("Replace values of indexes 5,6,7 and 8 to 12")
print(to_modify)

Orignal Array
[0 1 2 3 4 5 6 7 8 9]
Replace values of indexes 5,6,7 and 8 to 12
[ 0  1  2  3  4 12 12 12 12  9]

20. Create a 2d array with 1 on the border and 0 inside

In [25]:
import numpy as np
x = np.ones((5,5))
print("Original array:")
print(x)
print("1 on the border and 0 inside in the array")
x[1:-1,1:-1] = 0
print(x)

Original array:
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
1 on the border and 0 inside in the array
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [162]:
import numpy as np
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
arr2d[1,1]=12
print(arr2d)

[[ 1  2  3]
 [ 4 12  6]
 [ 7  8  9]]

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [167]:
import numpy as np
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,0]=64
print('New First Array:\n',arr3d)

New First Array:
 [[[64 64 64]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [18]:
import numpy as np
array = np.arange(9).reshape(3,3)
print("Orignal 2-Dimensional array")
print(array)
print("sliced out first 1-D array")
print(array[0:1])

Orignal 2-Dimensional array
[[0 1 2]
 [3 4 5]
 [6 7 8]]
sliced out first 1-D array
[[0 1 2]]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [171]:
import numpy as np
array = np.arange(9).reshape(3,3)
print("Orignal 2-Dimensional array")
print(array)
print("sliced out 2nd value from 2nd 1-D array is",array[1,1])

Orignal 2-Dimensional array
[[0 1 2]
 [3 4 5]
 [6 7 8]]
sliced out 2nd value from 2nd 1-D array is 4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [51]:
import numpy as np
array = np.arange(9).reshape(3,3)
print("Orignal 2-Dimensional array")
print(array)
print("sliced out third column but only the first two rows")
print(array[0:2,2:3])

Orignal 2-Dimensional array
[[0 1 2]
 [3 4 5]
 [6 7 8]]
sliced out third column but only the first two rows
[[2]
 [5]]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [58]:
import numpy as np
Z = np.random.random((10,10))
print("10x10 array with random values")
print(Z)
Zmin, Zmax = Z.min(), Z.max()
print("Minimum Value is:",Zmin)
print("Maximum Value is:",Zmax)

10x10 array with random values
[[3.62487644e-02 9.34561814e-02 1.24084148e-01 8.47505534e-01
  6.65711358e-01 6.64725580e-02 4.98488787e-01 3.13682493e-01
  3.74075975e-01 2.44957259e-01]
 [1.19933842e-02 2.05993350e-01 3.53401250e-01 6.34539097e-01
  7.33125991e-02 9.24080259e-01 3.18161842e-02 3.97072994e-01
  4.94434333e-02 7.91812019e-04]
 [7.19729818e-01 6.05161488e-01 7.71872056e-01 4.23325760e-01
  1.11864634e-02 6.48789898e-01 5.45197221e-01 9.43833952e-02
  2.12905301e-01 1.50475115e-01]
 [4.44630862e-01 9.39504419e-01 1.02117902e-01 4.04860859e-01
  3.92213723e-01 8.61143069e-01 5.86906110e-01 9.20364519e-01
  2.22846945e-02 1.81482787e-01]
 [4.36792366e-02 5.26955652e-01 7.14596047e-01 3.86471467e-01
  1.42893293e-01 7.85081547e-01 5.08569353e-01 9.24119893e-02
  2.05463585e-01 1.11503065e-01]
 [6.34418598e-01 9.56417760e-01 8.54506313e-01 1.51699647e-01
  6.71173985e-01 7.01080122e-01 5.53084890e-01 5.14687008e-01
  9.83048796e-01 2.33617658e-01]
 [2.79347326e-02 3.16311015e-01 8.57537718e-01 3.51661147e-01
  2.85457115e-01 5.34850826e-02 9.84908171e-02 1.39730146e-01
  7.82106516e-01 8.89428478e-01]
 [9.52217254e-01 8.26844475e-01 2.64615436e-01 8.86705213e-01
  7.66396755e-01 9.23666014e-01 3.29893855e-02 4.76337322e-01
  8.48607340e-01 1.55117866e-01]
 [8.01152313e-02 1.06722000e-01 2.83061851e-01 2.18337504e-01
  9.95192524e-01 4.50002742e-01 5.93935200e-01 7.64820950e-01
  7.70387339e-01 1.94844886e-01]
 [3.39875761e-01 8.76073251e-01 9.86084128e-01 1.47596348e-02
  1.55831228e-01 2.74573098e-01 3.20759684e-01 2.50206796e-01
  7.82492366e-01 6.70490711e-01]]
Minimum Value is: 0.000791812019235616
Maximum Value is: 0.995192523709607

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [59]:
import numpy as np
a = np.array([1,2,3,2,3,4,3,4,5,6])
print("Array1: ",a)
b = np.array([7,2,10,2,7,4,9,4,9,8])
print("Array2: ",b)
print("Common values between two arrays:")
print(np.intersect1d(a, b))

Array1:  [1 2 3 2 3 4 3 4 5 6]
Array2:  [ 7  2 10  2  7  4  9  4  9  8]
Common values between two arrays:
[2 4]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [182]:
import numpy as np
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
c= np.where(a==b)
print("Values matches at index no:", c[0], sep='\n')

Values matches at index no:
[1 3 5 7]

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [184]:
import numpy as np
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
mask = (names != 'Will')
print(mask)

[ True  True False  True False  True  True]

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [71]:
import numpy as np
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
mask = (names == 'Will') | (names == 'Joe')
print(mask)

[False  True  True False  True  True  True]

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [80]:
import numpy as np
# rand_arr = np.random.randint(low=1, high=15, size=(5,3)) + np.random.random((5,3))
rand_arr = np.random.uniform(1,15, size=(5,3))
print(rand_arr)

[[11.75820154  6.0492274   2.32354905]
 [ 2.79542164  5.23817156 13.29462829]
 [ 4.68848241 12.67138912  5.72197175]
 [11.24910235  4.4146961   4.63129253]
 [ 3.47446792 12.17356699  5.89713586]]

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [91]:
import numpy as np
c = np.arange(16).reshape(2,2,4)
print(c)

[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]]

33. Swap axes of the array you created in Question 32

In [7]:
import numpy as np
c = np.arange(16).reshape(2,2,4)
print('The original array:') 
print(c)
print ('The array after applying the swapaxes function:') 
swapedArray= np.swapaxes(c, 2, 0)
print(swapedArray)

The original array:
[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]]
The array after applying the swapaxes function:
[[[ 0  8]
  [ 4 12]]

 [[ 1  9]
  [ 5 13]]

 [[ 2 10]
  [ 6 14]]

 [[ 3 11]
  [ 7 15]]]

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [48]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sroot=np.sqrt(arr)
print('Array Square Root:',sroot)
new_arr=np.where(sroot<0.5, 0, sroot)
print('New Array:',new_arr)

Array Square Root: [1.         1.41421356 1.73205081 2.         2.23606798 2.44948974
 2.64575131 2.82842712 3.         3.16227766]
New Array: [1.         1.41421356 1.73205081 2.         2.23606798 2.44948974
 2.64575131 2.82842712 3.         3.16227766]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [188]:
arr1 = np.random.rand(12)
print(arr1)
arr1_max=arr1.max()
print('arr1_max:',arr1_max)
arr2 = np.random.rand(12)
print(arr2)
arr2_max=arr2.max()
print('arr2_max:',arr2_max)
new_arr = np.array([arr1_max,arr2_max])
print('New Array of two arrys max:',new_arr)

[0.16305444 0.34488612 0.68868262 0.45411926 0.30014469 0.61501319
 0.41326959 0.8513478  0.24985769 0.14441973 0.67935727 0.96636356]
arr1_max: 0.9663635640933902
[0.01204411 0.12520615 0.94652723 0.45930648 0.29020736 0.96640902
 0.93691292 0.9978225  0.62589401 0.01250716 0.47521607 0.73391624]
arr2_max: 0.9978224977175678
New Array of two arrys max: [0.96636356 0.9978225 ]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [94]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
u, indices = np.unique(names, return_index=True)
print(u)

['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
From array a remove all items present in array b

In [96]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
result = np.setdiff1d(a, b)
print(result)

[1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [102]:
import numpy
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]])
print('sampleArray:')
print(sampleArray)

del_col_2=numpy.delete(sampleArray, [1], axis=1)
print('Deleted Col 2:')
print(del_col_2)
newColumn = numpy.array([[10,10,10]])
ins_col = an_array = np.insert(del_col_2, 1, newColumn, axis=1)
print('Inserted Col 2:')
print(ins_col)

sampleArray:
[[34 43 73]
 [82 22 12]
 [53 94 66]]
Deleted Col 2:
[[34 73]
 [82 12]
 [53 66]]
Inserted Col 2:
[[34 10 73]
 [82 10 12]
 [53 10 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [58]:
import numpy as np
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
z=np.dot(x, y)
print(z)

[[ 28.  64.]
 [ 67. 181.]]

40. Generate a matrix of 20 random values and find its cumulative sum

In [104]:
import numpy as np
A = np.random.randint(10, size=(20))
print(A)
Sum=np.cumsum(A)
print(Sum)

[6 4 6 9 8 1 4 1 4 4 3 7 4 8 0 7 2 4 8 5]
[ 6 10 16 25 33 34 38 39 43 47 50 57 61 69 69 76 78 82 90 95]